/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('./assets/PzZiabszp8qatJxLKE_z9XbERpa0jEVe0VFImlQbqic.jpg');
    padding: 0 10vw;
    text-align: center;
  }